<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Customers - JonagoldXP Admin', 'none')" />
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Customers</h2>
        <a th:href="@{/customers/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
    </div>

    <div th:replace="fragments :: search_form_and_message" />

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Enabled</th>
                <th>Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${listCustomers}">
                <td class="hideable-column">[[${customer.id}]]</td>
                <td class="hideable-column">[[${customer.email}]]</td>
                <td>[[${customer.firstName}]]</td>
                <td>[[${customer.lastName}]]</td>

                <td>
                    <div th:replace="fragments :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})" />
                </td>

                <td>
                    <div th:replace="fragments :: edit('customer', '/customer/edit/' + ${customer.id})" />
                    &nbsp;&nbsp;
                    <a th:href="@{'/customers/delete/' + ${customer.id}}" class="delete_entity">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="modal_fragments :: confirm_modal" />

    <div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/customers}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'customer');
        });
    });
</script>
</body>
</html>